In [29]:
import pandas as pd
import numpy as np

# cleaning the data

In [30]:

ins = pd.read_csv('insurance.csv')

In [31]:
ins

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [32]:
ins.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [36]:
for col in ['age', 'bmi', 'children','region_Numeric','expenses']:
    ins[col] = (ins[col] - ins[col].min()) / (ins[col].max() - ins[col].min())

In [34]:
ins['sex_Numeric'] = ins['sex'].map({'male': 1, 'female': 0})
ins['Smoker_Numeric'] = ins['smoker'].map({'yes': 1, 'no': 0})
ins['region_Numeric']= ins['region'].map({'southwest':0,'southeast':1,'northwest':2,'northeast':3})

# main code

In [57]:
lr = 0.1 # learning rate
er_r = 0.01 # acceptable error
N = len(ins)
M = np.ones(7) # all the weights and calcs all at the same time
# the code line given below turn them into a matrix to do matrix multiplication
x = np.c_[np.ones(N),ins['age'],ins['bmi'],ins['children'],ins['sex_Numeric'],
          ins['Smoker_Numeric'],ins['region_Numeric']]
y= ins['expenses'].values
while True:
    prid = x.dot(M) # this gives the predicted value
    er = prid - y
    g= (2/N) * x.T.dot(er) #this shows the gradiant
    if np.all(np.abs(g) < er_r):
        break
    M = M - (lr*g)
print("the weights are ",M)

the weights are  [-0.17833174  0.20517121  0.35153736  0.13594588  0.00286601  0.38568847
  0.05048835]

In [ ]:
user_age = input("enter age")
user_bmi = input("enter bmi")
user_child = input("enter no of children")
user_sex = input("enter male as 1 and female as 0")
user_smoke = input("enter yes as 1 and no as 0 for smoking")
user_region = input("southwest as 0 ,southeast as 1 ,northwest as 2 and northeast as 4")
sol = 1000*(
        -0.17833174 + 
       float(user_age) * 0.20517121 + 
       float(user_bmi) *  0.35153736 + 
       float(user_child) * 0.13594588 - 
       float(user_sex) * 0.00286601 + 
       float(user_smoke) * 0.38568847 + 
       float(user_region) * 0.05048835)
print("the insureance is", sol)

the insureance is 14014.478764000001