In [78]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Cleaning and Setting up data

In [79]:
bst = pd.read_csv('Boston.csv')

In [80]:
bst

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [81]:
train , test = train_test_split(bst,test_size=.2,random_state=1) 
#used to get training and testing data

In [82]:
predict = ['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio'
           ,'black','lstat']
target = 'medv'

In [83]:
x = train[predict].copy()
y = train[target].copy()

In [84]:
x_mean = x.mean()
x_std = x.std()

In [85]:
x = (x-x_mean)/x_std

In [86]:
x['inter'] = 1
x = x[['inter'] + predict] #this is used to add intercept into the matrix

In [87]:
alpha = 3 #instead of lambda we are using alpha but they are the same thing here
I = np.identity(x.shape[1]) #identity matrix
I[0][0] = 0 # this is a rule in ridge regression

# Ridge coding

In [88]:
er = alpha * I

In [89]:
b = np.linalg.inv(x.T @ x + er) @ x.T @ y
# @ is used as multiplication for matrix
""""
We get this from x * b = y (where they are all matrix)
(x^-1 * x)*b = x^-1 * y
b = (x^-1 * x)^-1 * x^-1 * y (this is the same as the equation given above)
"""

'"\nWe get this from x * b = y (where they are all matrix)\n(x^-1 * x)*b = x^-1 * y\nb = (x^-1 * x)^-1 * x^-1 * y (this is the same as the equation given above)\n'

In [100]:
x_test = test[predict]
x_test = (x_test - x_mean)/x_std
x_test['inter'] = 1
x_test = x_test[['inter'] + predict]

In [ ]:
outcomes = np.dot(x_test,b) #need to ask why @ was not working