In [46]:
import numpy as np
import pandas as pd

In [47]:
df= pd.read_csv('heart.csv')

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [48]:
X= np.array(df.drop(columns= ['target']))
y= np.array(df['target'])

In [49]:
X_train= X[:250, :]
y_train= y[:250]
X_test=X[250:, :]
y_test= y[250:]

In [50]:
avg= np.mean(X_train, axis=0)
dev= np.std(X_train, axis=0)
X_rescaled= (X_train- avg)/dev
print(X_train[0])
X_test_rescaled = (X_test - avg) / dev
X_rescaled[0]

[ 63.    1.    3.  145.  233.    1.    0.  150.    0.    2.3   0.    0.
   1. ]

array([ 0.95268702,  0.71774056,  1.90265793,  0.78367761, -0.27655415,
        2.4784788 , -0.9922798 , -0.11334761, -0.61742649,  1.22549832,
       -2.29972335, -0.63776364, -2.26619335])

In [86]:
learning_rate= 0.00001
iterations=1000

In [87]:
m,n= X_train.shape
w=np.zeros(n)
b=0

In [88]:
def fit():
    for i in range(iterations):
        update_weights()

def update_weights():
    global w, b
    z= np.dot(X_rescaled, w) +b
    sigmoid= 1/(1+np.exp(-z))
    dw= (1/m) * np.dot(X_rescaled.T, (sigmoid- y_train))
    db= (1/m) *np.sum(sigmoid- y_train)
    w= w- learning_rate* dw
    b= b- learning_rate* db

def predict():
    z= np.dot(X_test_rescaled, w) +b
    y_pred= 1/(1+np.exp(-z))
    y_pred= np.where(y_pred>0.5, 1, 0)
    return (y_pred)

In [89]:
fit()
results = predict()
print("Predictions for X_test:")
print(results)

Predictions for X_test:
[0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 0 0 1 1 1 0 0 1
 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 1]

In [90]:
y[250:]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0])

In [91]:
from sklearn.metrics import accuracy_score
print(f"Accuracy: {accuracy_score(y_test, results) * 100:.2f}%")

Accuracy: 71.70%